{% extends 'base.html.twig' %}

{% block title %}Edit Militant{% endblock %}

{% block body %}
    <h1>Edit Militant</h1>

    {{ include('militant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('militant_index') }}">back to list</a>

    {{ include('militant/_delete_form.html.twig') }}
{% endblock %}
