
{% extends 'admin.html.twig' %}

{% block title %}Liste des Militants {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Liste des Militants </h5>


                </div>


                <div class="row">
                    <div class="pull-right">
                        <a href="{{ path('militant_new') }}" class="btn btn-primary">Ajouter</a>
                        <br><br>
                    </div>


                    <div class="table-responsive">
                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cni</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Sexe</th>
                                <th>Naissance</th>
                                <th>Lieu</th>
                                <th>Domicile</th>
                                <th>Profession</th>
                                <th>Pere</th>
                                <th>Mere</th>
                                <th>Created</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for militant in militants %}
                                <tr>
                                    <td>{{ militant.id }}</td>
                                    <td>{{ militant.cni }}</td>
                                    <td>{{ militant.nom }}</td>
                                    <td>{{ militant.prenom }}</td>
                                    <td>{{ militant.sexe }}</td>
                                    <td>{{ militant.naissance ? militant.naissance|localizeddate('full', 'none') : '' }}</td>
                                    <td>{{ militant.lieu }}</td>
                                    <td>{{ militant.domicile }}</td>
                                    <td>{{ militant.profession }}</td>
                                    <td>{{ militant.pere }}</td>
                                    <td>{{ militant.mere }}</td>
                                    <td>{{ militant.created ? militant.created|localizeddate('full', 'short') : '' }}</td>

                                    <td>
                                        <a class="btn btn-default btn-sm" href="{{ path('militant_new' , {id:militant.identifiant} ) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
