
{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouveau Militant  {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Ajouter un nouveau Militant  </h5>


                </div>

                <div class="row">
                    <div class="col-12" >
                        {{ form_start(form) }}

                        <div class="form-row">

                            <div class="form-group col-md-4">

                                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.nom, {'attr': { 'style':'text-transform: uppercase', 'class': 'form-control' , 'placeholder' : 'Nom' } }) }}
                                {{ form_errors(form.nom) }}
                            </div>


                            <div class="form-group col-md-4">

                                {{ form_label(form.prenom, 'Prénom ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.prenom, {'attr': { 'style':'text-transform: uppercase',  'class': 'form-control' , 'placeholder' : 'Prénom' } }) }}
                                {{ form_errors(form.prenom) }}
                            </div>

                        <div class="form-group col-md-4">

                            {{ form_label(form.cni, 'CNI', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.cni, {'attr': {'class': 'form-control' , 'placeholder' : 'CNI' } }) }}
                            {{ form_errors(form.cni) }}
                        </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.sexe, 'Sexe', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.sexe, {'attr': {'class': 'form-control' , 'placeholder' : 'Sexe' } }) }}
                            {{ form_errors(form.sexe) }}
                        </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.naissance, 'Date de Naissance', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.naissance, {'attr': {'class': 'form-control' , 'placeholder' : 'Date de Naissance' } }) }}
                            {{ form_errors(form.naissance) }}
                        </div>

                        <div class="form-group col-md-4">

                            {{ form_label(form.lieu, 'Lieu de Naissance', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.lieu, {'attr': {'class': 'form-control' , 'placeholder' : 'Lieu de Naissance' } }) }}
                            {{ form_errors(form.lieu) }}
                        </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.tel, 'Téléphone', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.tel, {'attr': {'class': 'form-control' , 'placeholder' : 'Téléphone' } }) }}
                                {{ form_errors(form.tel) }}
                            </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.domicile, 'Domicile', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.domicile, {'attr': {'class': 'form-control' , 'placeholder' : 'Domicile' } }) }}
                            {{ form_errors(form.domicile) }}
                        </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.profession, 'PROFESSION', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.profession, {'attr': {'class': 'form-control' , 'placeholder' : 'PROFESSION' } }) }}
                            {{ form_errors(form.profession) }}
                        </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.pere, 'Pere', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.pere, {'attr': {'class': 'form-control' , 'placeholder' : 'Pere' } }) }}
                            {{ form_errors(form.pere) }}
                        </div>
                        <div class="form-group col-md-4">

                            {{ form_label(form.mere, 'Mere', {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.mere, {'attr': {'class': 'form-control' , 'placeholder' : 'Mere' } }) }}
                            {{ form_errors(form.mere) }}
                        </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.disctrict, 'DISTRICT', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.disctrict, {'attr': {'class': 'form-control' , 'placeholder' : 'DISTRICT' } }) }}
                                {{ form_errors(form.disctrict) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.region, 'REGION', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.region, {'attr': {'class': 'form-control' , 'placeholder' : 'REGION' } }) }}
                                {{ form_errors(form.region) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.departement, 'DEPARTEMENT', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.departement, {'attr': {'class': 'form-control' , 'placeholder' : 'DEPARTEMENT' } }) }}
                                {{ form_errors(form.departement) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.prefecture, 'SOUS-PREFETURE', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.prefecture, {'attr': {'class': 'form-control' , 'placeholder' : 'SOUS-PREFETURE' } }) }}
                                {{ form_errors(form.prefecture) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.communal, 'SECTEUR COMMUNAL', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.communal, {'attr': {'class': 'form-control' , 'placeholder' : 'SECTEUR COMMUNAL' } }) }}
                                {{ form_errors(form.communal) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.secteur, 'SECTEUR NON COMMUNAL', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.secteur, {'attr': {'class': 'form-control' , 'placeholder' : 'SECTEUR NON COMMUNAL' } }) }}
                                {{ form_errors(form.secteur) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.vote, 'LIEU DE VOTE', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.vote, {'attr': {'class': 'form-control' , 'placeholder' : 'LIEU DE VOTE' } }) }}
                                {{ form_errors(form.vote) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.carte, 'N Carte d\'électeur', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.carte, {'attr': {'class': 'form-control' , 'placeholder' : 'N Carte d\'électeur' } }) }}
                                {{ form_errors(form.carte) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.numeroCarte, 'N Carte de Membre', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.numeroCarte, {'attr': {'class': 'form-control' , 'placeholder' : 'N Carte de Membre' } }) }}
                                {{ form_errors(form.numeroCarte) }}
                            </div>
                            <div class="form-group col-md-4">

                                {{ form_label(form.adhesion, 'Date D\'adhesion', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.adhesion, {'attr': {'class': 'form-control' , 'placeholder' : 'Date D\'adhesion' } }) }}
                                {{ form_errors(form.adhesion) }}
                            </div>
                        </div>

                        <hr>


                        <div class="btn-group record_actions">
                            {% if militant.id == null %}
                                <a class="btn btn-inline btn-info" href="{{path('militant_index')}}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% else %}
                                <a class="btn btn-inline btn-info" href="{{ path('militant_index' , {id:militant.identifiant} ) }}">
                                    <i class="fa fa-chevron-circle-left"></i> Retour
                                </a>
                            {% endif %}

                            <button class="btn btn-primary" type="submit">Valider</button>
                        </div>
                        {{ form_end(form) }}

                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}
