{% extends 'base.html.twig' %}

{% block title %}Militant{% endblock %}

{% block body %}
    <h1>Militant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ militant.id }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ militant.cni }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ militant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ militant.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ militant.sexe }}</td>
            </tr>
            <tr>
                <th>Naissance</th>
                <td>{{ militant.naissance }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ militant.lieu }}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{{ militant.domicile }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ militant.profession }}</td>
            </tr>
            <tr>
                <th>Pere</th>
                <td>{{ militant.pere }}</td>
            </tr>
            <tr>
                <th>Mere</th>
                <td>{{ militant.mere }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ militant.created ? militant.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ militant.modified ? militant.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('militant_index') }}">back to list</a>

    <a href="{{ path('militant_edit', {'id': militant.id}) }}">edit</a>

    {{ include('militant/_delete_form.html.twig') }}
{% endblock %}
