{% extends 'admin.html.twig' %}

{% block title %}Liste des vendeurs {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Liste des Vendeurs </h5>
                               
                                
                            </div>


                            <div class="row">
                            <div class="pull-right"> 
                            <a href="{{ path('vendeur_new') }}" class="btn btn-primary">Ajouter</a>
                            <br><br>
                            </div>
                           
                            
                                <div class="table-responsive">
                                  {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}
                                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                                        <thead>
                                       <tr>
                                        <th>Avatar</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Tél</th>
                                        <th>Ville</th>
                                        <th>Quartier</th>
                                        <th>Adresse</th>
                                         <th>Date d'ajout</th>
                                         <th>actions</th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                        {% for vendeur in vendeurs %}
                                            <tr>
                                                <td>
                                                 {% if vendeur.image != null %}
                                                 
                                                  <img src="{{asset(vendeur.image.WebPath)}}" style="height:40px;"> </td>
                                        {% endif %}
                                                </td>
                                                <td>{{ vendeur.nom }}</td>
                                                <td>{{ vendeur.prenom }}</td>
                                                <td>{{ vendeur.tel }}</td>
                                                <td>{{ vendeur.ville }}</td>
                                                <td>{{ vendeur.quartier }}</td>
                                                <td>{{ vendeur.adresse }}</td>
                                                <td>{{ vendeur.created ? vendeur.created|localizeddate('full', 'short') : '' }}</td>
                                                <td>
                                                     <a class="btn btn-default btn-sm" href="{{ path('vendeur_show' , {id:vendeur.identifiant} ) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="9">Aucun enregistrement</td>
                                            </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
