
{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouveau vendeur {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Ajouter un nouveau vendeur</h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                             {{ form_start(form) }}
                               
                             <div class="form-row">
                            
                              <div class="form-group col-md-4">
                                
                                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom' } }) }}
                                {{ form_errors(form.nom) }}
                            </div>
                            
                             <div class="form-group col-md-4">
                                
                                {{ form_label(form.prenom, 'Prénom ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control' , 'placeholder' : 'Prénom' } }) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                              <div class="form-group col-md-4">
                                
                                {{ form_label(form.tel, 'Télephone ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.tel, {'attr': {'class': 'form-control' , 'placeholder' : 'Télephone' } }) }}
                                {{ form_errors(form.tel) }}
                            </div>
                              <div class="form-group col-md-4">
                                
                                {{ form_label(form.ville, 'Ville ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.ville, {'attr': {'class': 'form-control' , 'placeholder' : 'Ville' } }) }}
                                {{ form_errors(form.ville) }}
                            </div>
                             <div class="form-group col-md-4">
                                
                                {{ form_label(form.quartier, 'Quartier ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.quartier, {'attr': {'class': 'form-control' , 'placeholder' : 'Quartier' } }) }}
                                {{ form_errors(form.quartier) }}
                            </div>
                             <div class="form-group col-md-4">
                                
                                {{ form_label(form.adresse, 'Adresse ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control' , 'placeholder' : 'Adresse' } }) }}
                                {{ form_errors(form.adresse) }}
                            </div>
                            <div class="form-group col-md-4">
                                
                                {{ form_label(form.pays, 'Pays ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.pays, {'attr': {'class': 'form-control' , 'placeholder' : 'Pays' } }) }}
                                {{ form_errors(form.pays) }}
                            </div>
                         
                            <div class="form-group col-md-4">
                                
                                {{ form_label(form.image.file, 'Image ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
                                {{ form_errors(form.image.file) }}
                               </div>
                            </div>
                             <div class="form-group col-md-12">
                                
                                {{ form_label(form.description, 'Description', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Description' } }) }}
                                {{ form_errors(form.description) }}
                            </div>
                              
                                <hr>
                              

                                   <div class="btn-group record_actions">
                                    {% if vendeur.id == null %}
                                        <a class="btn btn-inline btn-info" href="{{path('vendeur_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% else %}
                                     <a class="btn btn-inline btn-info" href="{{ path('vendeur_index' , {id:vendeur.identifiant} ) }}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% endif %}

                                        <button class="btn btn-primary" type="submit">Valider</button>
                                    </div>
                             {{ form_end(form) }}

                             </div>

                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
