
{% extends 'admin.html.twig' %}

{% block title %}Fiche Categorie {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Fiche Vendeur {{vendeur.nom}} </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                          
                                 {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}

                             <table class="table table-hover record_properties">
                                            <tbody>
                                        {% if vendeur.image != null %}
                                                <tr>
                                                  <th scope="row"></th>
                                                  <td>  
                                                  <img src="{{asset(vendeur.image.WebPath)}}" style="height:120px;"> </td>
                                                </tr>
                                        {% endif %}
                                            <tr>
                                                <th>Nom</th>
                                                <td>{{ vendeur.nom }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prénom</th>
                                                <td>{{ vendeur.prenom }}</td>
                                            </tr>
                                            <tr>
                                                <th>Téléphone</th>
                                                <td>{{ vendeur.tel }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ville</th>
                                                <td>{{ vendeur.ville }}</td>
                                            </tr>
                                            <tr>
                                                <th>Quartier</th>
                                                <td>{{ vendeur.quartier }}</td>
                                            </tr>
                                            <tr>
                                                <th>Adresse</th>
                                                <td>{{ vendeur.adresse }}</td>
                                            </tr>
                                            <tr>
                                                <th>Description</th>
                                                <td>{{ vendeur.description }}</td>
                                            </tr>

                                             <tr>
                                                <th>Date d'ajout</th>
                                                <td>{{ vendeur.created ? vendeur.created|localizeddate('full', 'short') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th>Derniere Modification</th>
                                                <td>{{ vendeur.modified ? vendeur.modified|localizeddate('full', 'short') : '' }}</td>
                                            </tr>

                                               
                                              
                                            </tbody>
                                        </table>

                                           <div class="btn-group record_actions">

                                        <a class="btn btn-inline btn-info" href="{{path('vendeur_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>

                                        <a class="btn btn-inline btn-primary" href="{{path('vendeur_new' , {id:vendeur.identifiant} )}}">
                                            Modifier <i class="fa fa-edit"></i>
                                        </a>
                                         <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                            Supprimer <i class="fa fa-trash"></i>
                                        </a>


                                    </div>
                           


                             </div>

                            </div>

                        </div>
                    </div>

                </div>

                {{ include('vendeur/_delete_form.html.twig') }}
                       
{% endblock %}
