
{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouveau DISCRICT  {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Ajouter un nouveau DISCRICT  </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                             {{ form_start(form) }}
                               
                             <div class="form-row">
                            
                              <div class="form-group col-md-4">
                                
                                {{ form_label(form.libelle, 'Libelle', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.libelle, {'attr': {'class': 'form-control' , 'placeholder' : 'Libelle' } }) }}
                                {{ form_errors(form.libelle) }}
                            </div>
                            
                           
                            <div class="form-group col-md-4">
                                
                                {{ form_label(form.image.file, 'Image ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
                                {{ form_errors(form.image.file) }}
                               </div>
                            </div>
                             <div class="form-group col-md-12">
                                
                                {{ form_label(form.description, 'Description', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control editor' , 'placeholder' : 'Description' } }) }}
                                {{ form_errors(form.description) }}
                            </div>
                              
                                <hr>
                              

                                   <div class="btn-group record_actions">
                                    {% if category.id == null %}
                                        <a class="btn btn-inline btn-info" href="{{path('category_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% else %}
                                     <a class="btn btn-inline btn-info" href="{{ path('category_index' , {id:category.identifiant} ) }}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% endif %}

                                        <button class="btn btn-primary" type="submit">Valider</button>
                                    </div>
                             {{ form_end(form) }}

                             </div>

                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
