{% extends 'admin.html.twig' %}

{% block title %}Afficher le profil de  l'utilisateur {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Profil de l'administrateur {{entity.admin.nom}} </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                          
                                 {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}

                             <table class="table table-hover record_properties">
                                            <tbody>
                                                <tr>
                                                  <th scope="row"></th>
                                                  <td>  
                                                  <img src="{{asset(entity.WebPath)}}" style="height:120px;"> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom</th>
                                                    <td>{{entity.admin.nom}}</td>
                                                </tr>
                                                 
                                                <tr>
                                                    <th scope="row">Prénom</th>
                                                    <td> {{entity.admin.prenom}} </td>
                                                </tr> 
                                               
                                                <tr>
                                                    <th scope="row">Téléphone</th>
                                                    <td>{{entity.admin.tel}}</td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">Email</th>
                                                    <td>{{entity.email}}</td>
                                                </tr>

                                                  <tr>
                                                    <th scope="row">Fonction</th>
                                                    <td>{{entity.admin.fonction}}</td>
                                                </tr>

                                              
                                            </tbody>
                                        </table>

                                           <div class="btn-group record_actions">

                                        <a class="btn btn-inline btn-info" href="{{path('admin')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>

                                        <a class="btn btn-inline btn-primary" href="{{path('user_admin_edit_profil')}}">
                                            Modifier <i class="fa fa-edit"></i>
                                        </a>
                                       
                                        <a class="btn btn-inline btn-warning" href="{{path('user_admin_password_change' )}}">
                                            Modifier mot de passe <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </div>
                           


                             </div>

                            </div>

                        </div>
                    </div>

                </div>
                       
{% endblock %}
