{% extends 'admin.html.twig' %}
{% block title %}Ajouter un nouveau produit {{ parent() }} {% endblock %}
{% import _self as imgs %}
{% macro information_prototype(img) %}
<div class="form-row">
  <div class="form-group {% if img.vars.value != null %}col-md-6{% else %}col-md-10{% endif %}">
    {{ form_label(img.file, 'Image', {'label_attr': {'class': ''}}) }}
    {{ form_widget(img.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
  </div>
{% if img.vars.value != null %}
  <div class="form-group col-md-4">
      <img style="width:150px" src="{{asset(img.vars.value.Webpath)}}" />
  </div>
{% endif %}
</div>
{% endmacro %}
{% block body %}
<div class="row">
  <div class="col-12">
    <div class="block  table-block mb-4">
      <div class="block-heading">
        <h5>Ajouter un nouveau produit
        </h5>
      </div>
      <div class="row"> 
        <div class="col-12" >
          {{ form_start(form) }}
          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(form.nom, 'Nom', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom' } }) }}
              {{ form_errors(form.nom) }}
            </div>
            <div class="form-group col-md-4">
              {{ form_label(form.standar, 'Prix Standard ', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.standar, {'attr': {'class': 'form-control' , 'placeholder' : 'Prix Standard' } }) }}
              {{ form_errors(form.standar) }}
            </div>
            <div class="form-group col-md-4">
              {{ form_label(form.promo, 'Prix Promo ', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.promo, {'attr': {'class': 'form-control' , 'placeholder' : 'Prix Promo' } }) }}
              {{ form_errors(form.promo) }}
            </div>
            <div class="form-group col-md-4">
              {{ form_label(form.vendeur, 'Vendeur ', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.vendeur, {'attr': {'class': 'form-control' , 'placeholder' : 'Vendeur' } }) }}
              {{ form_errors(form.vendeur) }}
            </div>
            <div class="form-group col-md-4">
              {{ form_label(form.category, 'Categories ', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.category, {'attr': {'class': 'form-control' , 'placeholder' : 'Categories' } }) }}
              {{ form_errors(form.category) }}
            </div>
            <div class="form-group col-md-4">
              {{ form_label(form.image.file, 'Image ', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
              {{ form_errors(form.image.file) }}
            </div>
            <div class="form-group col-md-6">
              {{ form_label(form.detail, 'Détail', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.detail, {'attr': {'class': 'editor form-control ' , 'placeholder' : 'Détail' } }) }}
              {{ form_errors(form.detail) }}
            </div>
            <div class="form-group col-md-6">
              {{ form_label(form.description, 'Description', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.description, {'attr': {'class': 'editor form-control ' , 'placeholder' : 'Description' } }) }}
              {{ form_errors(form.description) }}
            </div>
            <div class="form-group col-md-6">
              {{ form_label(form.caracteristique, 'Caractéristiques', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.caracteristique, {'attr': {'class': 'editor form-control ' , 'placeholder' : 'Caractéristiques' } }) }}
              {{ form_errors(form.caracteristique) }}
            </div>
            <div class="form-group col-md-6">
              {{ form_label(form.modalite, 'Modalités de retour', {'label_attr': {'class': ''}}) }}
              {{ form_widget(form.modalite, {'attr': {'class': 'editor form-control ' , 'placeholder' : 'Modalités de retour' } }) }}
              {{ form_errors(form.modalite) }}
            </div>
          </div>
            <h5 class="panel-title">Ajouter des images 
              <span class="bt">
              </span> 
            </h5> 
            <hr>
            <div class="collection" id="parametre" data-prototype="{{ imgs.information_prototype(form.images.vars.prototype)|e }}">
              {% for image in form.images %}
              {{ imgs.information_prototype(image) }}
              {% endfor %}
              <span style="display:none;">  {{ form_widget( form.images ) }}  
              </span>
            </div>
            <div id="ajout"  >
            </div>
        </div>
        <hr>
        <div class="btn-group record_actions">
          {% if produit.id == null %}
          <a class="btn btn-inline btn-info" href="{{path('produit_index')}}">
            <i class="fa fa-chevron-circle-left">
            </i> Retour
          </a>
          {% else %}
          <a class="btn btn-inline btn-info" href="{{ path('produit_index' , {id:produit.identifiant} ) }}">
            <i class="fa fa-chevron-circle-left">
            </i> Retour
          </a>
          {% endif %}
          <button class="btn btn-primary" type="submit">Valider
          </button>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#parametre');
    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_category" class=""><i class="icon-plus"></i></a>');
    $('.bt').html($addLink);
    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault();
      // évite qu'un # apparaisse dans l'URL
      return false;
    }
                  );
    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;
    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
      //$('#ajout').next('div').addClass('couleur_test');
    }
    else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      }
                                     );
    }
    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Période n°' + (index+1))
                         .replace(/__name__/g, index));
      //$prototype.attr('class','rows');
      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);
      // On ajoute le prototype modifié à la fin de la balise <div>
      $('#ajout').append($prototype);
      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<div class="form-group col-md-2"><div class=""> <label class="control-label">Action</label> <br/><a href="#" class="remove"><i class="fa fa-trash" aria-hidden="true"></i></a></div></div><p>&nbsp;</p>');
      // Ajout du lien
      $prototype.append($deleteLink);
      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault();
        // évite qu'un # apparaisse dans l'URL
        return false;
      }
                       );
    }
  }
                   );
</script>
<style>
  .bt a {
    position: relative;
    top: 4px;
    color: green;
  }
  .remove i {
    color:red
  }
</style>
{% endblock js %}
