{% extends 'admin.html.twig' %}

{% block title %}Fiche Produit {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Fiche Produit {{produit.nom}} </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                          
                                 {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}

                             <table class="table table-hover record_properties">
                                            <tbody>
                                        {% if produit.image != null %}
                                                <tr>
                                                  <th scope="row"></th>
                                                  <td>  
                                                  <img src="{{asset(produit.image.WebPath)}}" style="height:120px;"> </td>
                                                </tr>
                                        {% endif %}
                                          
                                            <tr>
                                                <th>Nom</th>
                                                <td>{{ produit.nom }}</td>
                                            </tr>
                                            <tr>
                                                <th>Detail</th>
                                                <td>{{ produit.detail }}</td>
                                            </tr>
                                            <tr>
                                                <th>Standar</th>
                                                <td>{{ produit.standar }}</td>
                                            </tr>
                                            <tr>
                                                <th>Promo</th>
                                                <td>{{ produit.promo }}</td>
                                            </tr>
                                            <tr>
                                                <th>Description</th>
                                                <td>{{ produit.description }}</td>
                                            </tr>
                                            <tr>
                                                <th>Caracteristique</th>
                                                <td>{{ produit.caracteristique }}</td>
                                            </tr>
                                            <tr>
                                                <th>Modalite</th>
                                                <td>{{ produit.modalite }}</td>
                                            </tr>
          
                                             <tr>
                                                <th>Date d'ajout</th>
                                                <td>{{ produit.created ? produit.created|localizeddate('full', 'short') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th>Derniere Modification</th>
                                                <td>{{ produit.modified ? produit.modified|localizeddate('full', 'short') : '' }}</td>
                                            </tr>

                                               
                                              
                                            </tbody>
                                        </table>

                                           <div class="btn-group record_actions">

                                        <a class="btn btn-inline btn-info" href="{{path('produit_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>

                                        <a class="btn btn-inline btn-primary" href="{{path('produit_new' , {id:produit.identifiant} )}}">
                                            Modifier <i class="fa fa-edit"></i>
                                        </a>
                                         <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                            Supprimer <i class="fa fa-trash"></i>
                                        </a>


                                    </div>
                           


                             </div>

                            </div>

                        </div>
                    </div>

                </div>

                {{ include('produit/_delete_form.html.twig') }}
                       
{% endblock %}
