{% extends 'admin.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}
    <img class="" style="width: 100%;" src="{{asset('admin/img/bgr.png')}}" alt="profile image">

{% endblock body %}