{% extends 'admin.html.twig' %}

{% block title %}Liste des Departements {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Liste des Departements </h5>


                </div>


                <div class="row">
                    <div class="pull-right">
                        <a href="{{ path('departement_new') }}" class="btn btn-primary">Ajouter</a>
                        <br><br>
                    </div>


                    <div class="table-responsive">
                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                            <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Date d'ajout</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for departement in departements %}
                                <tr>
                                    {# <td>
                                         % if region.image != null %}

                                         <img src="{{asset(region.image.WebPath)}}" style="height:40px;"> </td>
                                     {% endif %
                                     </td>#}
                                    <td>{{ departement.libelle }}</td>
                                    <td>{{ departement.created ? departement.created|localizeddate('full', 'short') : '' }}</td>
                                    <td>
                                        <a class="btn btn-default btn-sm" href="{{ path('departement_show' , {id:departement.identifiant} ) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucun enregistrement</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
