
{% extends 'admin.html.twig' %}

{% block title %}Liste des Slide {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Liste  </h5>
                               
                                
                            </div>


                            <div class="row">
                            <div class="pull-right"> 
                            <a href="{{ path('slide_new') }}" class="btn btn-primary">Ajouter</a>
                            <br><br>
                            </div>
                           
                            
                                <div class="table-responsive">
                                  {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}
                                    <table id="dataTable1" class="table-bordered display table table-striped" data-table="data-table">
                                        <thead>
                                       <tr>
                                        <th>Image</th>
                                        <th>Titre</th>
                                        <th>Date d'ajout</th>
                                        <th>actions</th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                       {% for slide in slides %}
                                            <tr>
                                                <td>
                                                 {% if slide.image != null %}
                                                 
                                                  <img src="{{asset(slide.image.WebPath)}}" style="height:40px;"> </td>
                                        {% endif %}
                                                </td>
                                                <td>{{ slide.titre }}</td>
                                                <td>{{ slide.created ? slide.created|localizeddate('full', 'short') : '' }}</td>
                                                <td>
                                                     <a class="btn btn-default btn-sm" href="{{ path('slide_show' , {id:slide.identifiant} ) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">Aucun enregistrement</td>
                                            </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
