{% extends 'admin.html.twig' %}

{% block title %}Ajouter un nouveau slide {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Ajouter un nouveau slide </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                             {{ form_start(form) }}
                               
                             <div class="form-row">
                            
                              <div class="form-group col-md-4">
                                
                                {{ form_label(form.titre, 'Titre', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.titre, {'attr': {'class': 'form-control' , 'placeholder' : 'Titre' } }) }}
                                {{ form_errors(form.titre) }}
                            </div>
                            
                             <div class="form-group col-md-4">
                                
                                {{ form_label(form.description, 'Description', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control' , 'placeholder' : 'Description' } }) }}
                                {{ form_errors(form.description) }}
                            </div>
                         
                            <div class="form-group col-md-4">
                                
                                {{ form_label(form.image.file, 'Image ', {'label_attr': {'class': ''}}) }}
                                {{ form_widget(form.image.file, {'attr': {'class': 'form-control' , 'placeholder' : 'Image' } }) }}
                                {{ form_errors(form.image.file) }}
                                <div>
                                    {% if slide.image != null %}
                                               
                                                  <img src="{{asset(slide.image.WebPath)}}" style="height:120px;">
                                        {% endif %}
                                </div>
                               </div>
                            </div>
                           
                              
                                <hr>
                              

                                   <div class="btn-group record_actions">
                                    {% if slide.id == null %}
                                        <a class="btn btn-inline btn-info" href="{{path('slide_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% else %}
                                     <a class="btn btn-inline btn-info" href="{{ path('slide_index' , {id:slide.identifiant} ) }}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>
                                    {% endif %}

                                        <button class="btn btn-primary" type="submit">Valider</button>
                                    </div>
                             {{ form_end(form) }}

                             </div>

                            </div>

                        </div>
                    </div>

                </div>
{% endblock %}
