
{% extends 'admin.html.twig' %}

{% block title %}Fiche Slide {{ parent() }} {% endblock %}

{% block body %}
 <div class="row">
                  

                    <div class="col-12">
                        <div class="block  table-block mb-4">
                            <div class="block-heading">
                                <h5>Fiche Slide </h5>
                               
                                
                            </div>

                            <div class="row">
                            <div class="col-12" >
                          
                                 {% for message in app.session.flashbag.get('ajout') %}
                                     
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>

                                {% endfor %}

                             <table class="table table-hover record_properties">
                                            <tbody>
                                        {% if slide.image != null %}
                                                <tr>
                                                  <th scope="row"></th>
                                                  <td>  
                                                  <img src="{{asset(slide.image.WebPath)}}" style="height:120px;"> </td>
                                                </tr>
                                        {% endif %}
                                                <tr>
                                                    <th scope="row">Titre</th>
                                                    <td>{{slide.titre}}</td>
                                                </tr>
                                                 
                                                <tr>
                                                    <th scope="row">Description</th>
                                                    <td> {{slide.description|raw}} </td>
                                                </tr> 
                                               
                                               
                                              
                                            </tbody>
                                        </table>

                                           <div class="btn-group record_actions">

                                        <a class="btn btn-inline btn-info" href="{{path('slide_index')}}">
                                            <i class="fa fa-chevron-circle-left"></i> Retour
                                        </a>

                                        <a class="btn btn-inline btn-primary" href="{{path('slide_new' , {id:slide.identifiant} )}}">
                                            Modifier <i class="fa fa-edit"></i>
                                        </a>
                                         <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                            Supprimer <i class="fa fa-trash"></i>
                                        </a>


                                    </div>
                           


                             </div>

                            </div>

                        </div>
                    </div>

                </div>

                {{ include('slide/_delete_form.html.twig') }}
                       
{% endblock %}
