{% import _self as menuAdmin %}
{% macro menuItem(name, url, icon, subitems, started , ic, class) %}
{% import _self as menuAdmin %}
{% spaceless %}
{% set subitems = subitems|default({}) %}
{% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set isActive = currentUrl == url %}
{% set icon = icon|default(" fa-files-o") %}
{% set isStarted = started|default(false) %}
{% for name, suburl in subitems %}
{% set isActive = not isActive and currentUrl == suburl %}
{% endfor %}
{% if not isActive and isStarted %}{% set isActive = currentUrl starts with url %}{% endif %}
<li>
  <a class="listemenu {% if isActive %} active {% endif %} {% if subitems|length > 0 %}have-submenu{% endif %} " href="{% if subitems|length > 0 %}javascript:void(0);{% else %} {{url}} {% endif %}" >
    <span class="icon-thumbnail">
      <i class="{{icon}}">
      </i>
    </span>
    <span class="title">{{name}}
    </span>
  </a>
  {% if subitems|length > 0 %}
  <ul  class="sub-menu">
    {% for name, url, icon in subitems %}
    {{ menuAdmin.menuItem(name, url, icon, {}, true , false) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endspaceless %}
{% endmacro %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>{% block title %} | Asfrik!{% endblock %}
    </title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/fonts/line-icons/line-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/settings.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/animate.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/owl.carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/owl.theme.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/ion.rangeSlider.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/ion.rangeSlider.skinFlat.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/component.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/slick.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/slick-theme.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/extras/nivo-lightbox.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/slicknav.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-4">
              <div class="language-wrapper">
                <div class="box-currency">
                  <form method="post" id="form-currency">
                    <div class="btn-group toggle-wrap">
                      <span class="toggle">
                        € EUR
                      </span>
                      <ul class="toggle_cont pull-right">
                        <li>
                          <button class="currency-select" type="button" name="EUR">
                            € EUR
                          </button>
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
                <a href="#">
                  <i class="icon-phone">
                  </i> Appelez nous: (+33) 00 00 00 00 
                </a>
              </div>
              <div class="clear">
              </div>
            </div>
            <div class="col-md-6 col-sm-8">
              <div class="search-area">
                <form>
                  <div class="control-group">
                    <ul class="categories-filter animate-dropdown">
                      <li class="dropdown"> 
                        <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories 
                          <span class="caret">
                          </span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="menu-header">Clothing
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Men
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Women
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Boys
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Girls
                            </a>
                          </li>
                          <li class="menu-header">Electronics
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Laptops
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Desktops
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Cameras
                            </a>
                          </li>
                          <li>
                            <a tabindex="-1" href="#">- Mobile Phones
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <input class="search-field" placeholder="Chercher ici">
                    <a class="search-button" href="#">
                      <i class="icon-magnifier">
                      </i>
                    </a>
                  </div>
                </form>
              </div>
              <div class="shop-cart">
                <ul>
                  <li>
                    <a class="cart-icon cart-btn" href="wishlist.html">
                      <span class="icon-heart">
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="cart-icon cart-btn">
                      <i class="icon-basket-loaded">
                      </i>
                      <span class="cart-label">3
                      </span>
                    </a>
                    <div class="cart-box">
                      <div class="popup-container">
                        <div class="cart-entry">
                          <a href="#" class="image">
                            <img src="assets/img/products/product-menu-1.jpg" alt="">
                          </a>
                          <div class="content">
                            <a href="#" class="title">Pullover Batwing
                            </a>
                            <p class="quantity">Quantity: 3
                            </p>
                            <span class="price">$45.00
                            </span>
                          </div>
                          <div class="button-x">
                            <i class="icon-close">
                            </i>
                          </div>
                        </div>
                        <div class="cart-entry">
                          <a href="#" class="image">
                            <img src="assets/img/products/product-menu-2.jpg" alt="">
                          </a>
                          <div class="content">
                            <a href="#" class="title">Pullover Batwing
                            </a>
                            <p class="quantity">Quantity: 3
                            </p>
                            <span class="price">$90.00
                            </span>
                          </div>
                          <div class="button-x">
                            <i class="icon-close">
                            </i>
                          </div>
                        </div>
                        <div class="summary">
                          <div class="subtotal">Sub Total
                          </div>
                          <div class="price-s">$210.5
                          </div>
                        </div>
                        <div class="cart-buttons">
                          <a href="#" class="btn btn-border-2">View Cart
                          </a>
                          <a href="#" class="btn btn-common">Checkout
                          </a>
                          <div class="clear">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50">
        <div class="container">
          <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars">
                </i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
            <div class="navbar-collapse collapse">
             <!-- <ul class="nav navbar-nav">
                   <li>
                  <a href="#">
                    Accueil
                  </a>
                </li>
                
              
                <li>
                  <a href="#">Shop 
                    <span class="caret">
                    </span>
                  </a>
                  <div class="dropdown mega-menu megamenu2">
                    <div class="row">
                      <div class="col-sm-3 col-xs-12">
                        <ul class="menulinks">
                          <li class="maga-menu-title">
                            <a href="#">Shop Types
                            </a>
                          </li>
                          <li>
                            <a href="shop.html">Shop
                            </a>
                          </li>
                          <li>
                            <a href="shop-grid.html">Shop Grid Sidebar
                            </a>
                          </li>
                          <li>
                            <a href="shop-list.html">Shop List Sidebar
                            </a>
                          </li>
                          <li>
                            <a href="shop-right-sidebar.html">Shop Right Sidebar
                            </a>
                          </li>
                          <li>
                            <a href="product-details.html">Product Details
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3 col-xs-12">
                        <ul class="menulinks">
                          <li class="maga-menu-title">
                            <a href="#">Shop Pages
                            </a>
                          </li>
                          <li>
                            <a href="shopping-cart.html">Cart Page
                            </a>
                          </li>
                          <li>
                            <a href="checkout.html">Checkout Page
                            </a>
                          </li>
                          <li>
                            <a href="wishlist.html">Wishlist
                            </a>
                          </li>
                          <li>
                            <a href="order.html">Your Order
                            </a>
                          </li>
                          <li>
                            <a href="login.html">Login
                            </a>
                          </li>
                          <li>
                            <a href="login-form.html">My Account
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
               
               
                <li>
                  <a href="#">
                    Nous contacter
                  </a>
                </li>
              </ul>-->
              <div class="icon-right pull-right">
                <div class="text-right">
                  <div class="account link-inline">
                    <div class="dropdown text-right">
                      <a href="#" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-user">
                        </span> Mon Compte 
                        <span class="icon-arrow-down">
                        </span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="login-form.html">
                            <span class="icon icon-user">
                            </span>Mon compte </a>
                        </li>
                        <li>
                          <a href="login-form.html">
                            <span class="icon icon-user">
                            </span>Mes commandes </a>
                        </li>
                        <li>
                          <a href="wishlist.html">
                            <span class="icon icon-heart">
                            </span>Mes produits mis de côté
                          </a>
                        </li>
                        <li>
                          <a href="login.html">
                            <span class="icon icon-lock">
                            </span>SE DÉCONNECTER
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="mobile-menu">
         
          <li>
            <a href="about.html">About
            </a>
          </li>
          <li>
            <a href="#">Catalog
            </a>
            <ul class="dropdown menulinks">
              <li class="maga-menu-title">
                <a href="#">Men
                </a>
              </li>
              <li>
                <a href="category.html">Clothing
                </a>
              </li>
              <li>
                <a href="category.html">Handbags
                </a>
              </li>
              <li>
                <a href="category.html">Maternity
                </a>
              </li>
              <li>
                <a href="category.html">Jewelry
                </a>
              </li>
              <li>
                <a href="category.html">Scarves
                </a>
              </li>
              <li class="maga-menu-title">
                <a href="#">Women
                </a>
              </li>
              <li>
                <a href="category.html">Handbags
                </a>
              </li>
              <li>
                <a href="category.html">Jewelry
                </a>
              </li>
              <li>
                <a href="category.html">Clothing
                </a>
              </li>
              <li>
                <a href="category.html">Watches
                </a>
              </li>
              <li>
                <a href="category.html">Hats
                </a>
              </li>
              <li class="maga-menu-title">
                <a href="#">Accessories
                </a>
              </li>
              <li>
                <a href="category.html">Belts
                </a>
              </li>
              <li>
                <a href="category.html">Scarves
                </a>
              </li>
              <li>
                <a href="category.html">Hats
                </a>
              </li>
              <li>
                <a href="category.html">Ties
                </a>
              </li>
              <li>
                <a href="category.html">Handbags
                </a>
              </li>
            </ul>
          </li>
         
          <li>
            <a href="contact.html">Contact
            </a>
          </li>
          
        </ul>
      </nav>
    </div>

    {% block body %}

    {% endblock %}
    <div class="testimonial section">
      <div class="container">
        <div class="row">
          <div class="testimonials-carousel owl-carousel">
            <div class="item">
              <div class="testimonial-item">
                <div class="author-info">
                  <a href="#">
                    <img src="assets/img/testimonial/img1.jpg" alt="">
                  </a>
                  <div class="author-title">
                    <h5>Jared Erondu
                    </h5>
                    <span>- CEO & art director
                    </span>
                  </div>
                </div>
                <div class="datils">
                  <p>“ Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem 
                    <br> Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad 
                    <br> maxime velit unde inventore quasi vero dolorem.“
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author-info">
                  <a href="#">
                    <img src="assets/img/testimonial/img2.jpg" alt="">
                  </a>
                  <div class="author-title">
                    <h5>Cadic Vegeta
                    </h5>
                    <span>- Graphic Design
                    </span>
                  </div>
                </div>
                <div class="datils">
                  <p>“ Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem 
                    <br> Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad 
                    <br> maxime velit unde inventore quasi vero dolorem.“
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author-info">
                  <a href="#">
                    <img src="assets/img/testimonial/img3.jpg" alt="">
                  </a>
                  <div class="author-title">
                    <h5>Jonathan Beri
                    </h5>
                    <span>- Web Developer
                    </span>
                  </div>
                </div>
                <div class="datils">
                  <p>“ Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem 
                    <br> Ipsum has been the industry's standard dummy hic et quidem. Dignissimos ad 
                    <br> maxime velit unde inventore quasi vero dolorem.“
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="latest-blog section">
      <div class="container">
        <h1 class="section-title">Latest Blog
        </h1>
        <hr class="lines">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="assets/img/blog/img1.jpg" alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April
                </div>
                <h3>
                  <a href="blog-details.html">Where Trends Going Next
                  </a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
                </p>
                <a href="blog-details.html" class="readmore">Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="assets/img/blog/img2.jpg" alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April
                </div>
                <h3>
                  <a href="blog-details.html">Ellie Goulding – High For This
                  </a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
                </p>
                <a href="blog-details.html" class="readmore">Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="assets/img/blog/img3.jpg" alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April
                </div>
                <h3>
                  <a href="blog-details.html">Best Photography of 2017
                  </a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....
                </p>
                <a href="blog-details.html" class="readmore">Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="client section">
      <div class="container">
        <div class="row">
          <div id="client-logo" class="owl-carousel">
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-01.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-02.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-03.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-04.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-05.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-06.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-07.png" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="assets/img/clients/logo-08.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="support section">
      <div class="container">
        <div class="row">
          <div class="support-inner">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row-normal clearfix">
                <div class="support-info">
                  <div class="info-title">
                    <i class="icon-plane">
                    </i>
                    Free Shipping Worldwide
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row-normal clearfix">
                <div class="support-info">
                  <div class="info-title">
                    <i class="icon-earphones-alt">
                    </i>
                    24/7 Customer Service
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row-normal clearfix">
                <div class="support-info">
                  <div class="info-title">
                    <i class="icon-heart">
                    </i>
                    Easy Return Policy
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="contact-us">
              <h3 class="widget-title">Contact Us
              </h3>
              <ul class="contact-list">
                <li>
                  <i class="icon-home">
                  </i> 
                  <span>9923 South Avenue Street, New York City.
                  </span>
                </li>
                <li>
                  <i class="icon-call-out">
                  </i> 
                  <span>+880- 123-456-789 
                    <br> +880- 123-456-789 
                  </span>
                </li>
                <li>
                  <i class="icon-envelope">
                  </i> 
                  <span>
                    <a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="52313d3c2633312612213a3d22207c313d3f">[email&#160;protected]
                    </a> 
                    <a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="274e49414867544f4857550944484a">[email&#160;protected]
                    </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3 class="widget-title">Useful Links
            </h3>
            <ul>
              <li>
                <a href="login.html">My Account
                </a>
              </li>
              <li>
                <a href="contact.html">Contact
                </a>
              </li>
              <li>
                <a href="checkout.html">Checkout
                </a>
              </li>
              <li>
                <a href="404.html">404 Page
                </a>
              </li>
              <li>
                <a href="wishlist.html">Wishlist
                </a>
              </li>
              <li>
                <a href="compare.html">Compare
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3 class="widget-title">Product Tags
            </h3>
            <div class="tagcloud">
              <a href="#" class="tag-link">Accessories
              </a>
              <a href="#" class="tag-link">Bags
              </a>
              <a href="#" class="tag-link">Bestseller
              </a>
              <a href="#" class="tag-link">Kids
              </a>
              <a href="#" class="tag-link">Dresses
              </a>
              <a href="#" class="tag-link">Men Fashion
              </a>
              <a href="#" class="tag-link">Sell Off
              </a>
              <a href="#" class="tag-link">Shoes
              </a>
              <a href="#" class="tag-link">Specials
              </a>
              <a href="#" class="tag-link">Tops
              </a>
              <a href="#" class="tag-link">Women Fashion
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="block-subscribe">
              <h3 class="widget-title">Newsletter
              </h3>
              <p>Quisque a nunc interdum tellus placerat cursus. Quisque facilisis dapibus facilisis! Vivamus dictum lectus ut porta volutpat.
              </p>
              <form class="subscribe">
                <input type="text" class="form-control" name="email" placeholder="Enter Email">
                <button type="submit" class="btn btn-common">Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>All copyrights reserved &copy; 2017 - Designed & Developed by 
              <a rel="nofollow" href="https://uideck.com/">UIdeck
              </a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="payment pull-right">
              <img src="assets/img/payment.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up">
      </i>
    </a>
    <div class="md-modal md-effect-3" id="modal-3">
      <div class="md-content">
        <div class="product-info row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-details-image">
              <div class="slider-for slider">
                <div>
                  <img src="assets/img/single-product/img1.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img2.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img3.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img4.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img5.jpg" alt="">
                </div>
                <div>
                  <img src="assets/img/single-product/img3.jpg" alt="">
                </div>
              </div>
              <ul id="productthumbnail" class="slider slider-nav">
                <li>
                  <img src="assets/img/single-product/small/img1.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img2.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img3.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img4.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img5.jpg" alt="">
                </li>
                <li>
                  <img src="assets/img/single-product/small/img3.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="info-panel">
              <h1 class="product-title">Proin Lectus Ipsum
              </h1>
              <div class="price-ratting">
                <div class="price float-left">
                  $ 120.00
                </div>
                <div class="ratting float-right">
                  <div class="product-star">
                    <i class="icon-star active">
                    </i>
                    <i class="icon-star active">
                    </i>
                    <i class="icon-star active">
                    </i>
                    <i class="icon-star active">
                    </i>
                    <i class="icon-star active">
                    </i>
                    <span>(01 Customer Review)
                    </span>
                  </div>
                </div>
              </div>
              <div class="short-desc">
                <h5 class="sub-title">Quick Overview
                </h5>
                <p>There are many variations of passages of Lorem Ipsum avaable, b majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
              </div>
              <div class="product-size">
                <h5 class="sub-title">Select Size
                </h5>
                <span>S
                </span>
                <span class="active">M
                </span>
                <span>L
                </span>
                <span>XL
                </span>
              </div>
              <div class="quantity-cart">
                <button class="btn btn-common">
                  <i class="icon-basket-loaded">
                  </i> add to cart
                </button>
              </div>
              <div class="share-icons pull-right">
                <span>share :
                </span>
                <a href="#">
                  <i class="fa fa-facebook">
                  </i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter">
                  </i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram">
                  </i>
                </a>
                <a href="#">
                  <i class="fa fa-pinterest">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="md-close">
          <i class="icon-close">
          </i>
        </button>
      </div>
    </div>
    <div class="md-overlay">
    </div>
    <div id="preloader">
      <div id="status">
        <div class="spinner">
          Loading...
        </div>
      </div>
    </div>
    <script data-cfasync="false" src="http://preview.uideck.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
    </script>
    <script type="text/javascript" src="assets/js/jquery-min.js">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-select.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/owl.carousel.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/ion.rangeSlider.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/modalEffects.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/classie.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.themepunch.revolution.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.themepunch.tools.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/nivo-lightbox.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/slick.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.slicknav.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/form-validator.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/contact-form-script.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}">
    </script>
  </body>
</html>
