
<form method="post" action="{{ path('communal_delete', {'id': communal.identifiant}) }}" >

    <div aria-hidden="true" aria-labelledby="removeModalLabel" class="modal fade" id="removeModalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center" >Voulez-vous vraiment supprimer l'element? </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ communal.id) }}">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Annuler</button>
                    <button type='submit' class="btn btn-primary" >Confirmer </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
