{% extends 'base.html.twig' %}

{% block title %}Edit Communal{% endblock %}

{% block body %}
    <h1>Edit Communal</h1>

    {{ include('communal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('communal_index') }}">back to list</a>

    {{ include('communal/_delete_form.html.twig') }}
{% endblock %}
