{#% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ category.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ category.type }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ category.created ? category.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ category.modified ? category.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_new', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %#}



{% extends 'admin.html.twig' %}

{% block title %}Fiche Region {{ parent() }} {% endblock %}

{% block body %}
    <div class="row">


        <div class="col-12">
            <div class="block  table-block mb-4">
                <div class="block-heading">
                    <h5>Fiche Region {{region.libelle}} </h5>


                </div>

                <div class="row">
                    <div class="col-12" >

                        {% for message in app.session.flashbag.get('ajout') %}

                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}

                        <table class="table table-hover record_properties">
                            <tbody>
                            {#% if region.image != null %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <img src="{{asset(region.image.WebPath)}}" style="height:120px;"> </td>
                                </tr>
                            {% endif %#}
                            <tr>
                                <th scope="row">Libelle</th>
                                <td>{{region.libelle}}</td>
                            </tr>

                            <tr>
                                <th scope="row">Description</th>
                                <td> {{region.description|raw}} </td>
                            </tr>


                            </tbody>
                        </table>

                        <div class="btn-group record_actions">

                            <a class="btn btn-inline btn-info" href="{{path('region_index')}}">
                                <i class="fa fa-chevron-circle-left"></i> Retour
                            </a>

                            <a class="btn btn-inline btn-primary" href="{{path('region_new' , {id:region.identifiant} )}}">
                                Modifier <i class="fa fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-inline btn-danger" data-target="#removeModalLabel" data-toggle="modal" >
                                Supprimer <i class="fa fa-trash"></i>
                            </a>


                        </div>



                    </div>

                </div>

            </div>
        </div>

    </div>

    {{ include('region/_delete_form.html.twig') }}

{% endblock %}
